/*BREACK POINTS*/
$bp-mobile: 320px;
$bp-mobile-horizontal: 480px;
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-wide: 1500px;

/* FONT */
$font-size-base: 16px;
$font-weight-base: 400;